.optionsIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 0.1rem;
}

.optionsIcon:hover {
  background-color: #e0e0e0;
}

.dropdownContent {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdownContent p {
  color: black;
  padding: 0.2rem 1rem;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdownContent p:hover {
  background-color: #ddd;
}

.dropdownContent a {
  color: black;
  padding: 0.2rem 1rem;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdownContent a:hover {
  background-color: #ddd;
}
